*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 20px;

}

.block{
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;

  border-radius: 12px;
background: var(--White, #FFF);
}
 .header{
  max-width: 1368px;

  margin-left: 72px;
  display: flex;
  align-items: center;
 border-radius: 0px 12px 0px 0px;
  
}
.left{
  width: 72px;
  height: 800px;
  background: var(--Indigo-900, #151357);
  margin-top: -783px;
  border-radius: 12px 0px 0px 12px;
}
.header .logo{
 margin-left: 20px;
 margin-left: 12px;
 margin-bottom: 12px;
 width: 98px;
 height: 32px;
}
.header a{
  margin-left: 14px;
  margin-top: 5px;
  border-radius: 13px;
  background: var(--Indigo-0, #EDEDFC);
  padding: 2px 6px;
  text-decoration: none;
  color: var(--Indigo-500, #5E5ADB);

  /* Caption */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  letter-spacing: 0.36px;
}

.header .zang{
  margin-left: 1070px;
margin-right: 24px;
margin-top: 10px;
width: 24px;
height: 24px;
}

.header .help{
  margin-left: 24px;
  margin-top: 10px;
  width: 32px;
  height: 32px;
}
.header .helpp{
  margin-top: 10px;
  width: 24px;
height: 24px;
}

.left img{
  margin-left: 16px;
}
.left .file{
width: 24px;
height: 24px;
margin-left: 20px;
}

.project{
  max-width: 1368px;
  background-color: #fff;
  margin-left: 72px;
  margin-top: 1px;
  display: flex;
}
.project .action{
  margin-top: 26px;
  margin-left: 20px;
  margin-bottom: 34px;
  margin-right: 10px;
  transition: all 0,5s;
}
.project .action:hover{
  color: black;
  /* background-color: blue; */
}
.project a{
  text-decoration: none;
  color: var(--Gray-500, #687182);

  /* Body/B2 */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.project .buttonn{
  margin-left: 600px;
  border-radius: 10px;
  background-color: #5E5ADB;
  margin-top: 20px;
  position: relative;
  width: 150px;
  height: 52px;
  position: relative;

}
.project .buttonn:hover{
  background-color: #f3eded;
 
}
.buttonn img{
  margin-left: -60px;
  position: absolute;
  margin-top: -7px;
}

.buttonn span{
  position: absolute;
  top: -3px;
  left: 39px;
  color: var(--White, #FFF);

  /* Button/Default */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.28px;
}
.buttonn span:hover{
  color: #000;
}
.project .selectir{
  border-radius: 6px;
  background: var(--White, #FFF);
  width: 101px;
  height: 32px;
  /* sd-button/default */
  box-shadow: 0px 0px 0px 1px rgba(70, 79, 96, 0.16), 0px 1px 1px 0px rgba(0, 0, 0, 0.10);
  display: flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: all 0,5s;
}

.project .selectir:hover{
  color: black;
  background-color: #5E5ADB;
}
.selectir img{
  margin-top: 3px;
}
.project .cross{
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.project .dropdown{
  margin-top: -1px;
}

.search{
  margin-top: 1px;
  /* background-color: bisque; */
  position: relative;
}

.search input{
  width: 280px;
  height: 32px;  
  border-radius: 0px 6px 6px 0px;
  background: var(--White, #FFF);
  
  /* input/default */
  box-shadow: 0px 0px 0px 1px rgba(204, 206, 208, 0.16), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}
.search .searcg-img{
  position: absolute;
  top: 8px;
  left: 10px;
}

.search  .short{
  margin-left: -25px;
  margin-top: 28px;
  position: absolute;
}

.all{
  max-width: 1368px;
  /* background-color: brown; */
  margin-left: 72px;
  display: flex;
  margin-top: 1px;
}
.all input{
  width: 16px;
  height: 16px;
  margin-top: 12px;
  margin-left: 20px;
  margin-bottom: 12px;
}
.all .right{
  margin-top: 12px;
  margin-left: 10px;
  width: 16px;
  height: 16px;
}
.all h6{
  color: var(--Gray-900, #171C26);
  font-variant-numeric: lining-nums tabular-nums;
  
  /* Body/Number */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  margin-left: 20px;
  margin-top: 12px;
}

.all p{
  color: var(--Indigo-500, #5E5ADB);

  /* Subtitle/S2 */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.28px;
  margin-top: 12px;
  margin-left: 20px;
  margin-bottom: 14px;
}

.all .people{
  margin-top: 12px;
  margin-left: 152px;
  width: 24px;
  height: 24px;
}
.all .tag {
 
 margin-top: 12px;
 margin-left: 20px;
 width: 80px;
 height: 20px;
}
.all .notes{
  margin-top: -8px;
  margin-left: 60px;
  text-decoration: none;
  color: var(--Gray-900, #171C26);

  /* Body/B2 */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.notes img{
  margin-right: 6px;
}

.all .nambers{
  margin-top: 12px;
  margin-left: 55px;
  color: var(--Gray-700, #464F60);
  text-align: center;
  font-variant-numeric: lining-nums tabular-nums;
  
  /* Body/Number */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  border-radius: 6px;
  background: var(--Gray-50, #E9EDF5);
  padding: 2px 7px;
  margin-bottom: 12px;
}
.all .may{
  margin-top: 12px;
  margin-left: 48px;
  border-radius: 4px;
  background: var(--Gray-50, #E9EDF5);
  padding: 1px 8px;
  margin-bottom: 12px;
  width: 105px;
  height: 20px;

}

.all .right1{
  margin-top: 12px;
  margin-left: 7px;
  width: 16px;
  height: 16px;
}
.all .aug{
  margin-left: 7px;
  margin-top: 12px;
  border-radius: 4px;
  background: var(--Gray-50, #E9EDF5);
  padding: 1px 8px;
  margin-bottom: 12px;
  width: 105px;
  height: 20px;
}
.all .us{
  color: var(--Gray-900, #171C26);
  text-align: right;
  
  /* Body/B2 */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  margin-left: 180px;
  margin-top: 12px;
}